@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap);

* {
    font-family: "Montserrat";
}

body {
    background-color: #a4c3f5;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
  
.japanMap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
  
.japanMap svg {
    max-width: 80%;
    max-height: 90%;
    touch-action: pan-y pinch-zoom;
    overflow: auto;
}

.japanMap path {
    /*fill: #b2e8b0;*/
    stroke: #272727;
}

.japanMap path:hover {
    cursor: pointer;
}

.japanMap path[fill="#b2e8b0"]:hover {
    fill: #a1d69f;
}

.japanMap path[fill="#8fc08d"]:hover {
    fill: #7aa778;
}

.japanMap path[fill="#fff"]:hover {
    fill: #d8d8d8
}

.japanMap path[fill="#f8fa8e"]:hover {
    fill: #e7e982
}

.japanMap path[fill="#fad18e"]:hover {
    fill: #e4be81
}

.japanMap path[fill="#ecb3b1"]:hover {
    fill: #d49997
}

.fa-list {
    position: absolute;
    font-size: 50px;
    color: rgb(255, 255, 255);
    top: 0;
    left: 0;
    margin: 10px;
    z-index: 200;
}

.fa-list:hover {
    cursor: pointer;
    color: rgb(185, 185, 185);
}


.bubble {
    position: absolute;
    padding: 5px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    font-size: 24px;
    pointer-events: none;
}


#menu {
    position: fixed;
    top: 0;
    left: -450px;
    width: 450px;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    z-index: 999;
    transition: left .3s ease;
}
  
#menu.show {
    left: 0;
}
  
#menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 65px;
}
  
#menu li {
    margin: 10px;
    padding: 10px;
    font-size: 25px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

#menu li:hover {
    background-color: #cfcfcf;
    cursor: pointer;
}

#menu-close-button {
    position: absolute;
    top: 10px;
    padding-left: 10px;
    width: 40px;
    height: 10px;
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 40px;
    color: #888;
    transition: right .3s ease;
}
  
#menu-close-button:hover {
    color: #333;
}

#score {
    position: fixed;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 34px;
    font-weight: bold;
}
  
#score-value {
    color: #ffc107;
}
  
#prefecture {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 38px;
    font-weight: bold;
}

#forward-icon {
    color: #fff;
    font-size: 44px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 9999;
}

#forward-icon:hover {
    cursor: pointer;
    color: rgb(185, 185, 185);
}