body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #EDECE8;
}
  
header {
    background-color: #1C1829;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
}
  
header img {
    height: 50px;
    margin-right: 10px;
}

footer {
    height: 5%;
    width: calc(100% - 25px);
    position: absolute;
    background-color: #1C1829;
    color: white;
    padding-left: 25px;
    padding-top: 25px;
    bottom: 0px;
}
  
.light-novel-list {
    padding-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
}
  
.light-novel {
    border: 1px solid #cfc7c8;
    border-radius: 10px;
    background-color: #E6DDDE;
    box-shadow: 0 0 5px #a7a0a0;
    margin: 10px;
    padding: 10px;
    width: 350px;
    height: 350px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}
  
.light-novel-top {
    display: flex;
    align-items: center;
    background-color: #98312f6b;
    box-shadow: 0 0 5px #a7a0a0;
    border-radius: 10px;
    padding: 10px;
    height: 25%;
}
  
.light-novel img {
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 5px #a7a0a0;
    margin-right: 10px;
}
  
.light-novel h2 {
    margin: 0;
    flex-grow: 1;
}
  
.light-novel p {
    height: 75%;
    border-radius: 5px;
    overflow: auto;
}

.light-novel p::-webkit-scrollbar {
    width: 0px;
    background-color: rgba(0,0,0,0);
} 

a {
    text-decoration: none;
    color: #1C1829;
}