body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #EDECE8;
}
  
header a{
    background-color: #1C1829;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
}

ul a {
    text-decoration: none;
    color: #1C1829;
}
  
header img {
    height: 50px;
    margin-right: 10px;
}

.light-novel {
    margin-left: 50px;
    margin-top: 25px;
    display: grid;
    grid-template-columns: 25% 75%;
}

.lnDescription {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px #a7a0a0;
}

.lnChapter {
    padding: 10px;
    margin-left: 15px;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 5px #a7a0a0;
}

.lnChapter ul {
    list-style-type: none;
}

.lnChapter li {
    margin-top: 10px;
}